<main [ngStyle]="{
  'background-color': setBackgroundColorBy(city?.currentWeatherCondition?.code),
  'color': setTextColorBy(city?.currentWeatherCondition?.code)
}">
  <section *ngIf="isLoading">
    <img src="../../assets/images/world_dark.png" alt="World image">
    <ngx-loading *ngIf="isLoading" [show]="isLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </section>

  <section *ngIf="!isLoading">
    <button (click)="goBack()">
      <img [src]="imagePath + setButtonArrowBy(city?.currentWeatherCondition?.code)" alt="Button go back">
    </button>
    <header>
      <div>
        <h1>{{ cityName }}</h1>
        <h2>{{ city?.currentWeatherCondition?.condition }}</h2>
      </div>
    </header>
    <section>
      <div class="currentWeather" *ngIf="city?.currentWeatherCondition?.currentTemperature; else emptyValue">
        <span class="currentWeatherValue">
          {{ city?.currentWeatherCondition?.currentTemperature }}
        </span>
        <div class="temperatures">
          <span>°C</span>
          <div *ngIf="city?.currentWeatherCondition?.maxTemperature; else emptyValue">
            <img [src]="imagePath + setArrowTopBy(city?.currentWeatherCondition?.code)"
              alt="Arrow top max temperature">
            <span>{{ city?.currentWeatherCondition?.maxTemperature }}°</span>
          </div>
          <div *ngIf="city?.currentWeatherCondition?.minTemperature; else emptyValue">
            <img [src]="imagePath + setArrowDownBy(city?.currentWeatherCondition?.code)"
              alt="Arrow top min temperature">
            <span>{{ city?.currentWeatherCondition?.minTemperature }}°</span>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>

<ng-template #emptyValue>
  <div>Unavailable</div>
</ng-template>
