<main [ngStyle]="{
  'background-color': setBackgroundColorBy(city?.currentWeatherCondition?.code),
  'color': setTextColorBy(city?.currentWeatherCondition?.code)
}">
  <section *ngIf="isLoading">
    <img src="../../assets/images/world_dark.png" alt="World image">
    <ngx-loading *ngIf="isLoading" [show]="isLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </section>

  <section *ngIf="!isLoading">
    <button (click)="goBack()">
      <img [src]="imagePath + setButtonArrowBy(city?.currentWeatherCondition?.code)" alt="Button go back">
    </button>
    <header>
      <div>
        <h1>{{ cityName }}</h1>
        <h2>{{ city?.currentWeatherCondition?.condition }}</h2>
      </div>
    </header>
  </section>
</main>
