<main [ngStyle]="{
  'background-color': setBackgroundColorBy(city?.currentWeatherCondition),
  'color': setTextColorBy(city?.currentWeatherCondition?.condition)
}">
  <section *ngIf="isLoading">
    <img src="../../assets/images/world_dark.png" alt="World image">
    <ngx-loading *ngIf="isLoading" [show]="isLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </section>

  <section *ngIf="!isLoading">
    <button (click)="goBack()">
      <img [src]="imagePath + setButtonArrowBy(city?.currentWeatherCondition?.condition)"
        alt="Button go back">
    </button>
  </section>
</main>
